.git
.idea
.DS_Store
/.gitignore
/bitbucket-pipelines.yml
/docker-compose.yml
/docker-compose.override.yaml.dist
/docker/docker-compose-ci.yaml
/phpstan.neon
/ecs.yaml
/behat.yml
/phpspec.yml
/.phpspec
/phpunit.xml.dist
/mutagen.yml.dist
/var/*
/vendor/*
/project/*
